/* CSS declarations go here */

body {
  padding-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  font-size: 24.5px;
}

h2 {
  font-size: 20.5px;
}

h3 {
  font-size: 17.5px;
}

a {
  color: #0b9afe;
  text-decoration: none;
}

a:hover {
  color: #0160a2;
  text-decoration: none;
}

nav li {
  margin-bottom: 10px;
}

nav {
  margin-bottom: 50px;
}

.global-header h1 {
  font-size: 17.5px;
  margin-bottom: 21px;
}

article h1 {
  margin-bottom: 21px;
  font-weight: bold;
}

article footer{
  color: #808080;
  margin-top: 20px;
  margin-bottom: 130px;
}

.global-footer {
  margin-bottom: 30px;
}

